.divs {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 0px solid #d3d3d3;
    text-align: center;
  }
  
.divHeaders {
    padding: 8px;
    cursor: move;
    z-index: 10;
    background-color: #95cfff;
    color: #fff;
  }